#
# ~/.xprofile
#

# Reset wallpaper (if already set)
[[ -f ~/.fehbg ]] && ~/.fehbg & 

# Set cursor
xsetroot -cursor_name left_ptr &

# Set keyboard language toggle
setxkbmap -layout us,el -option grp:lalt_lshift_toggle

# Start xbindkeys to bind X keys to commsnds
xbindkeys

# Start thunar as daemon
thunar --daemon &

# Launch conky HUD
for rc in .config/conky/widgets-enabled/*; do conky -c $rc & done

# Launch compton
compton -b &
